@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");

body, input, select, textarea {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

#header, #footer {
    background: linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
}

ul#icons li {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 200px;
    height: 200px;
}
ul#icons li div {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#footer a {
    @apply .border-b .border-dotted;
}